/*----------------------------------- Universeel Selector ------------------------------------ */

* {
    margin: 0;
    padding: 0;
}

/*----------------------------------- Structuur ---------------------------------------------- */

header {
    background-color: rgb(255, 0, 0);
    width: 100%;
    height: 100px;
}

footer {
    background-color: rgb(0, 0, 255);
    width: 100%;
    height: 100px;
}

table {
    background-color: black;
    width: 100%;
}

tr {
    text-align: center;
}

/*----------------------------------- Settings Foto`s ---------------------------------------- */

img {
    width: 100%;
    display: block;
}

/*----------------------------------- Tekstkleur H2 ------------------------------------ */

h2 {
    color: white;
    width: 100%;
}

/*----------------------------------- Achtergrondkleuren kolommen A en H2 -------------------- */

#A1 {
    background-color: rgb(250, 235, 215);
    width: 200px;
}

#Appel {
    background-color: rgb(255, 165, 0);   
}

/* ------------------------------------------------------------------------------------------- */

#A2 {
    background-color: rgb(138, 43, 227);
}

#Aardbei {
    background-color: rgb(222, 15, 147);
}

/* --------------------------------------------------------------------------------------- */

#A3 {
    background-color: rgb(165, 42, 42);
}

#Peper {
    background-color: rgb(123, 109, 141);
}

/* ---------------------------------------------------------------------------------------- */

#A4 {
    background-color: rgb(222, 184, 135);
}

#Tomaat {
    background-color: rgb(43, 226, 183);
}

/* ------------------------------------------------------------------------------------------ */


/*--------------------------- Achtergrondkleuren kolommen B ---------------------------------- */

#B1 {
    background-color: rgb(255, 77, 0);
    width: 200px;
}

#B2 {
    background-color:rgb(210, 105, 30);
}

#B3 {
    background-color:rgb(100, 149, 237);
}

#B4 {
    background-color:rgb(220, 20, 60);
}

/* ------------------------------------------------------------------------------------------- */

/*--------------------------- Achtergrondkleuren kolom C en H2 ---------------------- */

#C1 {
    background-color:rgb(0, 0, 139);
    width: 200px;
}

#Aardappel {
    background-color:rgb(43, 226, 95);
}

/* ------------------------------------------------------------------------------------------- */

#C2 {
    background-color:rgb(0, 139, 139);
}

#Paprika {
    background-color: rgb(111, 42, 42);
}

/* ------------------------------------------------------------------------------------------- */

#C3 {
    background-color:rgb(184, 134, 11);
}

#Ui {
    background-color: rgb(100, 50, 225);
}

/* ---------------------------------------------------------------------------------------------- */

#C4 {
    background-color:rgb(139, 0, 139);
}

#Knoflook {
    background-color: rgb(100, 155, 155);
}

/* ------------------------------------------------------------------------------------------- */

/*----------------------------------- Achtergrondkleuren kolom D ----------------------------- */


#D1 {
    background-color:rgb(153, 50, 204);
    width: 200px;
}

#D2 {
    background-color:rgb(139, 0, 0);
    
}

#D3 {
    background-color:rgb(148, 0, 211);
    
}

#D4 {
    background-color:rgb(178, 34, 34);  
}

/*----------------------------------- Einde -------------------------------------------------- */
